USE [master]
GO
/****** Object:  Database [MVVM_Exemple]    Script Date: 02/08/2017 22:46:22 ******/
CREATE DATABASE [MVVM_Exemple]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MVVM_Exemple', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MVVM_Exemple.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MVVM_Exemple_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MVVM_Exemple_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MVVM_Exemple].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MVVM_Exemple]
GO
/****** Object:  StoredProcedure [dbo].[AjouterPersonne]    Script Date: 02/08/2017 22:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AjouterPersonne]
 @ID int OUTPUT,
 @Nom varchar(255),
 @Pre varchar(255),
 @Nai datetime
AS
 INSERT INTO Personne(Nom,Pre,Nai)
  VALUES(@Nom,@Pre,@Nai)
 SET @ID=@@IDENTITY
RETURN
GO
/****** Object:  StoredProcedure [dbo].[ModifierPersonne]    Script Date: 02/08/2017 22:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ModifierPersonne]
 @ID int,
 @Nom varchar(255),
 @Pre varchar(255),
 @Nai datetime
AS
 IF(@ID IS NULL OR @ID=0)
  RAISERROR('Identifiant requis !',16,1)
 ELSE  UPDATE Personne
        SET Nom=@Nom,Pre=@Pre,Nai=@Nai
        WHERE ID=@ID
RETURN
GO
/****** Object:  StoredProcedure [dbo].[SelectionnerPersonne]    Script Date: 02/08/2017 22:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectionnerPersonne]
 @Index VARCHAR(10)
AS
 IF(@Index='Nom') SELECT * FROM Personne ORDER BY Nom
 ELSE IF(@Index='Pre') SELECT * FROM Personne ORDER BY Pre
 ELSE IF(@Index='Nai') SELECT * FROM Personne ORDER BY Nai
 ELSE SELECT * FROM Personne ORDER BY ID
RETURN
GO
/****** Object:  StoredProcedure [dbo].[SelectionnerPersonne_ID]    Script Date: 02/08/2017 22:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SelectionnerPersonne_ID]
 @ID int
AS
 IF(@ID IS NULL)
  RAISERROR('Identifiant requis !',16,1)
 ELSE
  SELECT ID,Nom,Pre,Nai
  FROM Personne
  WHERE @ID=ID
RETURN
GO
/****** Object:  StoredProcedure [dbo].[SupprimerPersonne]    Script Date: 02/08/2017 22:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SupprimerPersonne]
 @ID int
AS
 IF(@ID IS NULL)
  RAISERROR('Identifiant requis !',16,1)
 ELSE
  DELETE FROM Personne WHERE @ID=ID
RETURN
GO
/****** Object:  Table [dbo].[Personne]    Script Date: 02/08/2017 22:46:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Personne](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Nom] [varchar](255) NULL,
	[Pre] [varchar](255) NULL,
	[Nai] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
